/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}
.hamburger{
  display: none;
}
.sidebar{
  display: block;
}
.post .entry ol.fragrances li{
  width: 170px;
}
.post .entry ol.fragrances li{
  margin-right: 20px;
}
.post .entry ol.fragrances li:nth-child(4n+4){
  margin-right: 0px;
}